<mat-card>
    <mat-card-header class="mat-elevation-z2 alt-theme">
        <mat-toolbar color="primary" fxLayout="row">
            <h3>{{ langService.getLang(eModulo.Demo, 'tit-editor') }}</h3>
            <span class=flex-spacer></span>
            <a mat-button routerLink="/demo" matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}"><mat-icon>close</mat-icon></a>
        </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
                    
            <mat-form-field fxFlexFill>
                <input matInput placeholder="Titulo" formControlName="title" disable>
            </mat-form-field>

            <mat-form-field fxFlexFill >
                    <editor
                    [init]="editorConfig"
                    apiKey="test"
                    name="content"
                    formControlName="content"
                    placeholder="Content"
                    disabled
                  ></editor>
            </mat-form-field>
        </form>

        <p>form is valid: {{ form.valid ? 'true' : 'false' }}</p>
        <p>Value:</p>
        <pre>{{ form.value | json }}</pre>

        <button 
            fxFlexFill 
            mat-raised-button 
            color="accent" 
            (click)="submitForm()"
            disabled = "{{ form.invalid || contextService.isLoading }}">
                {{ langService.getLang(eModulo.Base,'btnLogin') }}
        </button>
            
<!-- 
        <editor matInput
            [init]="editorConfig"
            plugins="print preview fullpage searchreplace autolink directionality visualchars fullscreen image link media template table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount imagetools contextmenu colorpicker textpattern"
            toolbar="undo redo | link image | print | formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat"
        ></editor> -->
    </mat-card-content>
</mat-card>