<div fxFlex fxLayoutWrap fxLayoutGap="10px">
    <div class="fixFxLayoutGapBottom"  *ngFor="let modulo of contextoService.getListaModulos()">
        <mat-card >
            <mat-card-header >
                <mat-card-title> <h2>{{modulo.Etiqueta }}</h2></mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayoutAlign="center center">
                    <mat-icon class="mat-24" color="primary">{{modulo.Imagen}}</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
</div>