.main-page {
  min-height: 100%;
}

.main-logo{
  height: 100px;
}

.main-toolbar{
  height: 100px
}

.main-footer{
  font-size: 15px;
  height: 40px;
}

.mat-accent, .mat-accent:focus, .mat-accent:hover, .mat-expansion-panel-header-title {
  background-color: #ffa12d !important;
  color:white !important;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator, .mat-expansion-indicator:after{
  color: white !important;
}

.transform_icon
{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
