<div class="main-page" fxLayout='column' fxLayoutAlign="center center"  >
    <header fxFlexFill>
        <mat-toolbar color="primary" fxLayout="row" class="main-toolbar">
            <img class="main-logo" src="../../assets/logo.png" alt="">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>￼

            <div fxFlex="85" >{{ contextoService.getConfig('nombreSistema') }}</div>
            
            <a fxFlex="10" fxFlexLayoutAlign="center end" mat-button routerLink="/login"  *ngIf="!auth.isUserAuthenticated()">{{langService.getLang(langService.modulos.Base,'loginMensaje')}}</a>
            <a fxFlex="10" mat-button (click)="logout()"  *ngIf="auth.isUserAuthenticated()">{{langService.getLang(langService.modulos.Base,'logoutMensaje')}}</a>
            <div fxFlex="5" fxFlexLayoutAlign="center end">
                <div *ngIf="contextoService.getLenguajeActual() =='es'" (click)="cambiarIdioma('en')">en</div>
                <div *ngIf="contextoService.getLenguajeActual() =='en'" (click)="cambiarIdioma('es')">es</div>
            </div>
        </mat-toolbar>
    </header>

    <mat-sidenav-container fxFlex="1" class="main-container-nav" fxLayout="column">
        <mat-sidenav #sidenav mode="over" opened="false" >
          <!-- sidenav content -->
          <mat-list dense>
              <h3 mat-subheader>{{langService.getLang(langService.modulos.Base ,'tit-info-sistema')}}</h3>
              <mat-list-item >
                <mat-icon mat-list-icon>apps</mat-icon>
                <h4 mat-line>{{ contextoService.getConfig('nombreSistema') }}</h4>
              </mat-list-item>
              <mat-list-item >
                  <mat-icon mat-list-icon>date_range</mat-icon>
                  <h4 mat-line>{{fechaActual | date}}</h4>
                </mat-list-item>
    
              <mat-divider></mat-divider>
              
            </mat-list>
            <mat-accordion>
            <mat-expansion-panel *ngFor="let modulo of contextoService.getListaModulos()" >
                <mat-expansion-panel-header class="mat-accent" >
                    <mat-panel-title >
                        <mat-icon mat-list-icon>{{modulo.Imagen}}</mat-icon>
                        {{modulo.Etiqueta}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-list dense *ngFor="let recurso of modulo.RecursosHijos" >
                    <h3 mat-subheader color="primary">{{ recurso.Descripcion}}</h3>
                    <mat-list-item *ngFor="let subrecurso of recurso.RecursosHijos"  >
                        <a fxLayoutAlign="center center" routerLink="{{subrecurso.Ejecutable}}" class="accordion-list" >{{subrecurso.Descripcion}}</a>
                    </mat-list-item>
                </mat-list>
                
            </mat-expansion-panel>
            </mat-accordion>
            <mat-divider></mat-divider>
        </mat-sidenav>
        <div class="sidenav-content" fxLayout="row" fxLayoutAlign="center center">
            <router-outlet fxFlex="1" ></router-outlet>
        </div>

    </mat-sidenav-container>

    <footer fxFlexFill>
        <mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary" class="main-footer" >Copyright © Segip 2017 | Versión {{ contextoService.getConfig('versionSistema') }}</mat-toolbar>
    </footer>
</div>