<div class="main-page" fxLayout='column' fxLayoutAlign="center stretch"  >
    <header>
        <mat-toolbar color="primary" fxLayout="row" class="main-toolbar">
            <img class="main-logo" src="../../assets/logo.png" alt="logo">
            <h1 style="font-size: 25px">{{ config.nombreSistema }}</h1>
            <span class="flex-spacer"></span>
            <button mat-button [matMenuTriggerFor]="userInfo" *ngIf="authService.isUserAuthenticated()" matTooltip="{{langService.getLang(eModulo.Base,'menu-user')}}">
                <mat-icon>person</mat-icon>
            </button>

            <mat-menu #userInfo="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="false" class="user-info">
                <button mat-menu-item matTooltip="{{langService.getLang(eModulo.Base,'lbl-user')}} : {{ contextoService.getItemContexto('NombreCompletoUsuario') }}" matTooltipShowDelay="500">
                    <mat-icon>account_circle</mat-icon>
                    {{ contextoService.getItemContexto('NombreCompletoUsuario') }}
                </button>
                <button mat-menu-item matTooltip="{{langService.getLang(eModulo.Base,'lbl-inst')}} : {{ contextoService.getItemContexto('NombreInstitucion') }}" matTooltipShowDelay="500">
                    <mat-icon>work</mat-icon>
                    {{ contextoService.getItemContexto('NombreInstitucion') }}
                </button>
                <button mat-menu-item>
                    <mat-icon>date_range</mat-icon>
                    {{ utilService.getFechaActual() | date:'fullDate' }}
                </button>
            </mat-menu>

            <a mat-button (click)="authService.logoutUser()" matTooltip="{{langService.getLang(eModulo.Base,'logoutMensaje')}}" *ngIf="authService.isUserAuthenticated()"><mat-icon class="transform_icon">input</mat-icon></a>
            <a mat-button routerLink="/login" matTooltip="{{langService.getLang(eModulo.Base,'loginMensaje')}}" *ngIf="!authService.isUserAuthenticated()"><mat-icon>input</mat-icon></a>
        </mat-toolbar>
    </header>
    
    <base-progress-bar></base-progress-bar>
    <base-breadcrumbs [@breadListAnim] *ngIf="authService.isUserAuthenticated() && contextoService.breadCrumbs.length > 0"></base-breadcrumbs>
        
    <div fxFlex="1" fxLayout="column" fxLayoutAlign="center center" class="main-container">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary" class="main-footer" >
            <span>{{ langService.getLang(eModulo.Base ,'msg-copyright') }}</span>
            <span *ngIf="environment.semver">&nbsp;|&nbsp;{{ config.version["semver"]["raw"] }}</span>
            <span *ngIf="!environment.semver">&nbsp;|&nbsp;{{ config.version["raw"] }}</span>
            <span style="display: none">&nbsp;|&nbsp;{{ config.versionBase }}</span>
            <span>&nbsp;|&nbsp;{{ environment.env }}</span>
        </mat-toolbar>
    </footer>
</div>