.main-page {
  min-height: 100%;
}

.main-container-nav{
  width: 100%;
  min-height: 100%;
  
}

.sidenav-content {
  position: fixed;
  height: 80%;
  min-height: 80%;
  width: 100%;
  min-width: 100%;
}
  
.main-logo{
  height: 100px;
}

.main-toolbar{
  height: 100px
}

.main-footer{
  font-size: 15px;
  height: 40px;
}
  
.flex-spacer{
  flex-grow: 1
}

mat-sidenav {
  max-width: 300px;
}

.mat-subheader{
  background-color: rgba(0, 0, 0, 0.1)
}

.mat-list-item{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.87);
}

.accordion-list
{
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  padding-left: 20px;
}

.mat-accent, .mat-accent:focus, .mat-accent:hover, .mat-expansion-panel-header-title {
  background-color: #ffa12d !important;
  color:white !important;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator, .mat-expansion-indicator:after{
  color: white !important;
}

.mat-subheader{
  background-color: #ffd096;
  padding-left: 25px;
}