<div class="main-page" fxLayout='column' fxLayoutAlign="center center"  >
    <header fxFlexFill>
        <mat-toolbar color="primary" fxLayout="row" class="main-toolbar">
            <img class="main-logo" src="../../assets/logo.png" alt="">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>￼

            <div fxFlex="85" >{{ nombreSistema }}</div>
            
            <a fxFlex="15" fxFlexLayoutAlign="center end" mat-button routerLink="/login"  *ngIf="!auth.isUserAuthenticated()">{{msn.getMsn('loginMensaje')}}</a>
            <div fxFlex="15" fxFlexLayoutAlign="center end">
                <div *ngIf="idioma=='es'" (click)="cambiarIdioma('en')">en</div>
                <div *ngIf="idioma=='en'" (click)="cambiarIdioma('es')">es</div>
            </div>
            <a fxFlex="15" mat-button routerLink="/logout"  *ngIf="auth.isUserAuthenticated()">{{msn.getMsn('logoutMensaje')}}</a>
        </mat-toolbar>
    </header>

    <mat-sidenav-container fxFlex="1" class="main-container-nav">
        <mat-sidenav #sidenav mode="over" opened="false" >
          <!-- sidenav content -->
          <mat-list dense>
              <h3 mat-subheader>Informacion del sistema</h3>
              <mat-list-item >
                <mat-icon mat-list-icon>apps</mat-icon>
                <h4 mat-line>{{ nombreSistema }}</h4>
              </mat-list-item>
              <mat-list-item >
                  <mat-icon mat-list-icon>date_range</mat-icon>
                  <h4 mat-line>{{fechaActual | date}}</h4>
                </mat-list-item>
    
              <mat-divider></mat-divider>
              
             
              
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Personal data
                    </mat-panel-title>
                  </mat-expansion-panel-header>
              
                  <h3 mat-subheader>Recursos</h3>
                  <mat-list-item *ngFor="let recurso of listaRecursos">
                    <mat-icon mat-list-icon>chevron_right</mat-icon>
                    <h4 mat-line>{{recurso.name}}</h4>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <h3 mat-subheader>Recursos</h3>
                  <mat-list-item *ngFor="let recurso of listaRecursos">
                    <mat-icon mat-list-icon>chevron_right</mat-icon>
                    <h4 mat-line>{{recurso.name}}</h4>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-expansion-panel>
                
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Personal data
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <h3 mat-subheader>Recursos</h3>
                    <mat-list-item *ngFor="let recurso of listaRecursos">
                      <mat-icon mat-list-icon>chevron_right</mat-icon>
                      <h4 mat-line>{{recurso.name}}</h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <h3 mat-subheader>Recursos</h3>
                    <mat-list-item *ngFor="let recurso of listaRecursos">
                      <mat-icon mat-list-icon>chevron_right</mat-icon>
                      <h4 mat-line>{{recurso.name}}</h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-expansion-panel>
                  
              </mat-accordion>

            </mat-list>
        </mat-sidenav>
        <div class="sidenav-content" fxLayout="row" fxLayoutAlign="center center">
            <router-outlet fxFlex="1" ></router-outlet>
        </div>

    </mat-sidenav-container>

    <footer fxFlexFill>
        <mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary" class="main-footer" >Copyright © Segip 2017 | Versión {{ versionSistema }}</mat-toolbar>
    </footer>
</div>