<div fxFlexLayout="row" fxLayoutAlign="start center" color="accent">
    <a mat-button routerLink="/menu" (click)="onHomeClick()" matTooltip="{{langService.getLang(eModulo.Base,'tit-home')}}" *ngIf="authService.isUserAuthenticated()">
        <mat-icon>home</mat-icon>
    </a>
    <ng-container *ngFor="let item of contextoService.breadCrumbs; let i = index">
        <mat-icon>navigate_next</mat-icon>   
        <a mat-button (click)="onBreadClick(item, i)" routerLink="/menu" *ngIf="item.RecursosHijos.length > 0">{{item.Etiqueta}}</a>
        <button mat-button *ngIf="item.RecursosHijos.length == 0">{{item.Etiqueta}}</button>
    </ng-container>
</div>
