<div [ngClass]="contenido.tipoNotificacion | classTipoNotificacion" fxLayout="row" fxLayoutAlign="center center">
    <span fxFlex="90">{{contenido.message}}</span>
    <button *ngIf="!contenido.error"
		fxFlex="10" 
        mat-icon-button 
        (click)="snackBarRef.dismiss()">
        <mat-icon>close</mat-icon>
    </button>
    <button *ngIf="contenido.error"
		fxFlex="10" 
        mat-button 
        (click)="openError()">
        <span>{{ langService.getLang(eModulo.Base,'btn-abrir') }}</span>
        <mat-icon style="margin-right: 20px">
            keyboard_arrow_up
        </mat-icon>
    </button>
</div>