@import '~@angular/material/theming';
@include mat-core();

$main-palette-primary: (
    50 : #e0eaef,
    100 : #b3cbd7,
    200 : #80a9bd,
    300 : #4d86a2,
    400 : #266c8e,
    500 : #00527a,
    600 : #004b72,
    700 : #004167,
    800 : #00385d,
    900 : #00284a,
    A100 : #7eb8ff,
    A200 : #4b9cff,
    A400 : #187fff,
    A700 : #0072fd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$main-palette-accent: (
    50 : #fff4e6,
    100 : #ffe3c0,
    200 : #ffd096,
    300 : #ffbd6c,
    400 : #ffaf4d,
    500 : #ffa12d,
    600 : #ff9928,
    700 : #ff8f22,
    800 : #ff851c,
    900 : #ff7411,
    A100 : #ffffff,
    A200 : #fffbf8,
    A400 : #ffdbc5,
    A700 : #ffcbac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$main-primary: mat-palette($main-palette-primary);
$main-accent:  mat-palette($main-palette-accent);
$main-warn: mat-palette($mat-red);

$main-theme: mat-light-theme($main-primary, $main-accent, $main-warn);

@include angular-material-theme($main-theme);

$alt-palette-primary: (
    50 : #e9f7fd,
    100 : #c7ecfb,
    200 : #a2dff8,
    300 : #7cd2f5,
    400 : #60c8f3,
    500 : #44bef1,
    600 : #3eb8ef,
    700 : #35afed,
    800 : #2da7eb,
    900 : #1f99e7,
    A100 : #ffffff,
    A200 : #eaf6ff,
    A400 : #b7e1ff,
    A700 : #9dd7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$alt-palette-accent: (
    50 : #fef7ed,
    100 : #fdecd2,
    200 : #fbdfb4,
    300 : #f9d295,
    400 : #f8c87f,
    500 : #f7be68,
    600 : #f6b860,
    700 : #f5af55,
    800 : #f3a74b,
    900 : #f1993a,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffead5,
    A700 : #ffdebc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #f2f5f7,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$alt-palette-warn: (
    50 : #fefdfc,
    100 : #fcfbf8,
    200 : #faf9f3,
    300 : #f8f6ee,
    400 : #f7f4eb,
    500 : #f5f2e7,
    600 : #f4f0e4,
    700 : #f2eee0,
    800 : #f0ecdd,
    900 : #eee8d7,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$alt-primary: mat-palette($alt-palette-primary);
$alt-accent:  mat-palette($alt-palette-accent);
$alt-warn:  mat-palette($alt-palette-warn);

$alt-theme: mat-light-theme($alt-primary, $alt-accent, $alt-warn);

$button-theme: mat-light-theme($alt-primary, $main-accent, $alt-warn);

@include mat-button-theme($button-theme);

.alt-theme {
    @include angular-material-theme($alt-theme);
}