/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
html, body {
  height: 100%;
  margin: 0;
}
.mat-expansion-panel-body {
  padding: 0px !important;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator, .mat-expansion-indicator:after{
  color: white !important;
}