/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
html, body {
  height: 100%;
  margin: 0;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.mat-expansion-panel-body {
  padding: 0px !important;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator, .mat-expansion-indicator:after{
  color: white !important;
}

/* router-outlet + .divInnerRouterOutlet { flex: 1 1 auto ; display: flex ; flex-direction: column ; min-height: 100%; 
  align-content: center; justify-content: center } */

router-outlet{
  display: none;
}

.container-fluid
{
  height: 100%;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.mat-card-header-text {
  margin: 0 !important;
}

.flex-spacer{
  flex-grow: 1
}

mat-sidenav-content{
  flex: 1 1 100%;
  display: flex !important; 
  flex-direction: column ;
  min-height: 100%; 
  align-content: center; 
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}

.correcto{
  color: greenyellow;
}

.incorrecto{
  color: red;
}

.advertencia{
  color: rgb(219, 219, 9);
}
.informativo{
  color: rgb(126, 207, 255);
}

.menu-card{
  cursor: pointer;
  border-radius: 10px !important;
}

.animate-icon-menu {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}

.mat-24 {
  font-size:5em !important;
  height:1em !important;
  width:1em !important;
}

.fixFxLayoutGapBottom
{
  margin-bottom: 10px;
}