<mat-card class="base-auth mat-elevation-z12">
    <mat-card-header class="base-auth-header" fxFlexFill>
      <mat-toolbar color="warn" fxLayout="row">
          <h2>{{ langService.getLang(eModulo.Base,'tit-not-found') }}</h2>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">	
      <h3 fxFlexAlign="center" > {{ langService.getLang(eModulo.Base,'desc-not-found') }} </h3>
      <a mat-fab (click)="onHomeClick()" routerLink="/menu"><mat-icon>home</mat-icon></a>
    </mat-card-content>
</mat-card>
  